@charset "utf-8";
/* CSS Document */

/* CSS STYLE */

html {
  overflow-y: scroll;
}
body {
  background-color: #FFFFFF;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 13px;
}

img {
    max-width: 100%;
}

#top {
    background: none repeat scroll 0 0 #444444;
    color: #ddd;
    font-size: 14px;
    margin-bottom:16px;
    padding-bottom:6px;
    padding-top: 6px;
}

#top .container .separator {
    border-left: 1px solid #CCCCCC;
    display: inline-block;
    height: 10px;
    margin: 0 20px;
    width: 1px;
}

#navigation {
    border-bottom: 3px solid #ccc;
	margin-bottom:20px;
}

#main .main-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0px solid #E5E5E5;/* border 1, if you have front component*/
    margin-bottom: 20px;
    padding: 10px;
}

#breadcrumbs .moduletable {
    border: 0;
    padding: 0;
}

#fullwidth{
	overflow: hidden;
}

#fullwidth .moduletable {
    border: 0;
    padding: 0;
}

.black .moduletable {
    background: none repeat scroll 0 0 #222222;
    border-color: #222222;
    color: #AAAAAA;
}
.moduletable {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding: 10px;
}

#brand {
    float: left;
    padding-left:15px;
    padding-top: 5px;
}

.page-header {
    margin: 10px 0 20px;
}

.hasTooltip {
    display: inline !important;
}

.noMainbody { display: none !important}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 3px;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px 6px;
    vertical-align: middle;
}
label {
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
	font-family: arial;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
#pop-print {
    float: right;
    margin: 10px;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #BBBBBB #BBBBBB #A2A2A2;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#footer .moduletable {
    background: transparent;
    border: 0;
}

/* LAYOUT */
/* Floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.ie7 .group {
  zoom: 1;
}

/* JOOMLA */

.form-horizontal .control-label {
    text-align: inherit;
}

.cols-1 {
    display: block;
    float: none !important;
    margin: 0 !important;
}
.cols-2 .column-1 {
    float: left;
    width: 46%;
}
.cols-2 .column-2 {
    float: right;
    margin: 0;
    width: 46%;
}
.cols-3 .column-1 {
    float: left;
    margin-right: 4%;
    padding: 0 5px;
    width: 29%;
}
.cols-3 .column-2 {
    float: left;
    margin-left: 0;
    padding: 0 5px;
    width: 29%;
}
.cols-3 .column-3 {
    float: right;
    padding: 0 5px;
    width: 29%;
}
.items-row {
    margin-bottom: 10px !important;
    overflow: hidden;
}
.column-1, .column-2, .column-3 {
    padding: 10px 5px;
}
.column-2 {
    margin-left: 40%;
    width: 55%;
}
.column-3 {
    width: 30%;
}
.blog-more {
    padding: 10px 5px;
}
/* Media Queries */
/* Retina */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
